.animateUpAndDown {
  animation: MoveUpDown 1s ease-in-out infinite;
}

.animateWave {
  animation: Wave 2s 1s infinite;
  transform-origin: 70% 80%;
  display: inline-block;
  color: initial;
  background-clip: initial;
  -webkit-text-fill-color: initial;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: -0.2rem;
  }
  50% {
    bottom: 0.2rem;
  }
}

@keyframes Wave {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  25%,
  40% {
    transform: rotate(16deg);
  }
  17.5%,
  30% {
    transform: rotate(-6deg);
  }
}
