h1,
.header__max {
  font-size: 2.75rem;
  background: none;
  background-clip: initial;
  -webkit-text-fill-color: initial;
  color: var(--color-text-primary);
}

h2,
h3,
h4,
.header__big {
  margin-top: 1.5rem;
}

.carousel__image picture {
  display: none;
}

.container {
  max-width: 100%;
  padding: 0 0.5rem;
}

.header--case {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: initial;
  min-height: initial;
}

.header__image-container {
  position: relative;
  height: initial;
  width: initial;
  z-index: initial;
  margin: initial;
  margin-top: 2rem;
  display: block;
  top: initial;
  background-color: initial;
}

.header__image-container img,
.header__image-container picture {
  width: 100%;
  height: initial;
  margin: initial;
}

.hero {
  height: 75vh;
}

.molding {
  background-image: initial;
  min-height: calc(100vh - 2.5rem);
  min-height: calc(100svh - 2.5rem);
  border-radius: 6rem 1rem;
  background: linear-gradient(
    45deg,
    var(--color-blue-40),
    var(--color-blue-50) 40%
  );
}

.molding .container {
  -webkit-backdrop-filter: initial;
  backdrop-filter: initial;
  padding: 1rem;
}

.nudge {
  position: sticky;
  top: 0;
  z-index: 100;
}

.tabs--controller {
  overflow: auto;
  gap: 0.5rem;
}

.hidden-desktop {
  display: initial;
}

@supports (-webkit-touch-callout: none) {
  .hero {
    background-attachment: initial;
  }
}
