/* General / Generics */
:root {
  scroll-behavior: smooth;

  /* Universal Variables */
  --font-size: 1rem;
  --base-size: 16px;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --transition-default: 0.3s ease-in-out;
}

::selection,
h1::selection {
  background: var(--color-highlight);
  color: var(--color-text-primary);
  background-clip: initial;
  -webkit-text-fill-color: initial;
}

body {
  font-family: var(--font-family);
  line-height: 1.6;
  margin: 0;
  color: var(--color-text-primary);
  background-color: var(--background);
}

/* Content */
.article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.article > aside {
  flex: 1 1 0;
}

aside {
  position: sticky;
  top: 0;
  padding-left: 3.5rem;
  color: var(--color-base-20);
  box-sizing: border-box;
  max-height: 100vh;
}

.aside--navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.aside--navigation-holder {
  max-height: 50vh;
  overflow: auto;
  border-bottom: 1px solid var(--color-base-40);
}

.aside--navigation > * {
  display: inherit;
}

.aside--navigation a:not(.button) {
  padding: 0.25rem 0.75rem;
  width: 100%;
  color: var(--color-text-secondary);
  transition: background-color var(--transition-default);
  font-weight: 400;
  font-size: 0.95rem;
  border-left: 0.25rem solid var(--color-blue-50);
}

.aside--navigation a:not(.selected):hover {
  background-color: var(--color-blue-50);
  color: var(--color-blue-0);
}

.aside--navigation a:not(.button):hover:before {
  display: none;
}

.aside--navigation a.selected {
  background-color: var(--color-blue-50);
  color: var(--color-base-0);
}

button {
  cursor: pointer;
}

.card {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 1.5rem 1px var(--shadow);
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.card--with-image {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.card--with-image > * {
  flex: 1 1 0;
}

.card--with-image > img {
  flex: 2;
  object-fit: cover;
  object-position: top left;
  min-width: 1px;
  min-height: 60vh;
}

.carousel__parent {
  margin: 7rem 0 10rem 0;
  position: relative;
  perspective: 1000px;
}

.carousel {
  transform-style: preserve-3d;
  transition: transform 1.2s;
  height: 100%;
  width: 100%;
}

.carousel__cell {
  position: absolute;
  width: 100%;
  transition: transform 1.2s;
  backface-visibility: hidden;
  padding: calc(2.5 * var(--base-size));
}

.carousel__controller {
  position: absolute;
  right: calc(-4 * var(--base-size));
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carousel__controller > * {
  flex: 2;
  font-size: 2rem;
  background-color: initial;
  color: var(--color-anchor);
  border: none;
  cursor: pointer;
  transition: color var(--transition-default);
}

.carousel__controller > *:hover {
  color: var(--color-blue-20);
}

.container {
  width: 60rem;
  max-width: 90vw;
  margin: auto;
}

.container--small {
  width: 42rem;
}

.container--small p:first-of-type::first-letter {
  float: left;
  font-weight: 900;
  font-size: 5.5rem;
  line-height: 1;
  margin: 0.25rem 0.5rem -0.5rem 0;
  font-family: "Volkorn", var(--font-family);
  color: var(--color-yellow-0);
}

.container--smallest {
  width: 28rem;
}

.container__flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

footer {
  padding-bottom: 1rem;
}

.header--case {
  margin-bottom: 5rem;
  min-height: 100vh;
}

.header__image-container {
  background: var(--color-yellow-40);
  position: absolute;
  right: 0;
  top: 25vh;
  height: 65vh;
  width: 55vw;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header__image-container img {
  object-fit: cover;
  object-position: left;
  width: 90%;
  height: 100%;
  margin-bottom: -4rem;
}

.hero {
  background: var(--hero) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  margin: 5rem 0;
  box-shadow: inset 0.3rem 0.3rem 1.5rem 1px var(--color-base-20);
}

.icon {
  height: 0.9rem;
  width: initial;
}

img {
  width: 100%;
}

.molding {
  background: var(--color-blue-50);
  background-image: url("/image/pattern/wave.svg");
  margin: var(--base-size);
  margin-bottom: 0;
  padding: 1rem;
  min-height: calc(100vh - 5rem);
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
}

.molding .container {
  padding: 3rem 2rem;
  background-color: var(--background-transparent);
  -webkit-backdrop-filter: blur(calc(0.2 * var(--base-size)));
  backdrop-filter: blur(calc(0.2 * var(--base-size)));
  border-radius: 1.5rem;
}

.molding .container h1 {
  margin-top: 0;
}

nav {
  position: sticky;
  padding: var(--base-size);
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-transparent);
  -webkit-backdrop-filter: blur(calc(0.2 * var(--base-size)));
  backdrop-filter: blur(calc(0.2 * var(--base-size)));
  z-index: 99;
  border-bottom: 2px solid var(--color-blue-50);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

.nudge {
  background-color: var(--color-anchor);
  overflow: hidden;
}

.nudge a {
  margin: auto;
  display: block;
  color: var(--background);
  text-align: center;
  transition: background var(--transition-default);
}

.nudge a:hover {
  background-color: var(--color-blue-10);
  color: var(--background);
}

.nudge a:hover:before {
  display: none;
}

.table--wrapper {
  width: 100%;
  overflow: auto;
}

td,
th {
  min-width: 6rem;
  padding: 0 0.3rem;
  height: 3.75rem;
  text-align: left;
}

th {
  font-weight: 500;
}

td:first-child,
th:first-child {
  position: sticky;
  left: 0px;
  background-color: var(--background-transparent);
  -webkit-backdrop-filter: blur(calc(0.2 * var(--base-size)));
  backdrop-filter: blur(calc(0.2 * var(--base-size)));
  min-width: 12rem;
}

.tabs--controller {
  display: flex;
  justify-content: space-between;
}

.tabs--controller label {
  font-weight: 500;
  font-size: 1.15rem;
  cursor: pointer;
  color: var(--color-anchor);
  background-color: var(--color-base-55);
  padding: 1rem;
  border-radius: 1rem;
}

.tabs--controller input:checked ~ label {
  color: var(--color-text-primary);
  background: none;
}

.tabs--controller input[type="radio"],
.tabs .tabs--panel {
  display: none;
}

.tabs--panels img{
  margin-top: 3rem;
  height: 5rem;
  width: 10rem;
  object-fit: contain;
  object-position: left center;
}

.tabs--panels .header__big{
  margin-top: 1rem;
}

.tag {
  background-color: var(--color-base-40);
  padding: 0.25rem 0.75rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 1rem;
  color: var(--color-text-secondary);
}

.tag__design {
  background: var(--color-blue-10);
  color: var(--color-base-55);
}

.tag__desenvolvimento {
  background: var(--color-green-30);
}

.tag__gestao-de-produto {
  background-color: var(--color-yellow-0);
}

.tag--container {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

ul {
  padding-left: 1rem;
}

ul > li {
  padding-bottom: 0.25rem;
}

/* Helpers */
.background__primary {
  background-color: var(--color-primary);
}

.background__primary-40 {
  background-color: var(--color-primary-40);
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.no-style {
  border: inherit;
  background: inherit;
  padding: 0;
  margin: 0;
}
