{% extends "header.html" %} {% block body %} {% include "organisms/molding.html"
%} {% include "organisms/nav.html" %}

<main>
  <section id="projects" class="container">
    <h2 class="header__max">Projetos</h2>
    {% include "organisms/carousel.html" %}
  </section>
  <section id="process" class="container">
    <h2 class="header__max">Meus Processos</h2>
    Preparar área
  </section>
  <section id="blog" class="container">
    <h2 class="header__max">Anotações e Pensamentos</h2>
    <div>Espaço para Tags</div>
    <div>Componente para seleção de texto</div>
  </section>
</main>
{% include "organisms/footer.html" %} {% endblock %}
