{% extends "header.html" %} {% block body %}
<main>
  <section class="container">
    <h1>H1 e class .header__max Exemplo de Titulo principal</h1>
    <h2 class="header__big">
      class .header__big Exemplo de Titulo primário menor
    </h2>
    <h2>H2 e class .header__medium Exemplo de Titulo Secundario</h2>
    <h3>H3 e class .header__small Exemplo de Titulo Terciario</h3>
    <h4>h4 e class: .subtitle Exemplo de um subtítulo ou 4o nivel de titulo</h4>
    <p>
      Paragrafo: Flank ball tip pork landjaeger drumstick rump picanha cupim
      ribeye biltong hamburger. Burgdoggen shoulder
      <a href="#">strip steak</a> cupim short loin pork chop kielbasa hamburger
      prosciutto. Tri-tip alcatra ribeye, pastrami flank pork chop shankle
      buffalo cupim andouille ball tip rump. Pastrami rump chuck, hamburger
      shank pork loin capicola landjaeger chislic bresaola pork ham burgdoggen
      sausage ground round.
    </p>
    <article class="container--small">
      <p>
        Parágrafo de texto corrido, vem com capitular: Flank ball tip pork
        landjaeger drumstick rump picanha cupim ribeye biltong hamburger.
        Burgdoggen shoulder <a href="#">strip steak</a> cupim short loin pork
        chop kielbasa hamburger prosciutto. Tri-tip alcatra ribeye, pastrami
        flank pork chop shankle buffalo cupim andouille ball tip rump. Pastrami
        rump chuck, hamburger shank pork loin capicola landjaeger chislic
        bresaola pork ham burgdoggen sausage ground round.
      </p>
    </article>
  </section>
</main>
{% endblock %}
