.card {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0.3rem 0.3rem 1.5rem 1px var(--shadow);
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.card--with-image {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.card--with-image > * {
  flex: 1 1 0;
}

.card--with-image > picture {
  flex: 2;
  min-width: 1px;
  height: 60vh;
  max-height: 40rem;
}

.card--with-image > picture > img {
  object-fit: cover;
  object-position: top left;
  min-width: 1px;
  height: 60vh;
  max-height: 40rem;
}

@media (max-width: 50rem) {
  .card--with-image {
    padding: 2rem 1rem;
    gap: 0;
  }

  .card--with-image picture {
    display: none;
  }
}
