<p>
  <a
    href="https://www.designcouncil.org.uk/our-work/news-opinion/double-diamond-universally-accepted-depiction-design-process/"
    target="_blank"
    >O Double Diamond</a
  >, criado pelo British Design Council é uma das principais formas - e minha
  favorita - de abstrair e tangibilizar o processo de design e inovação em
  grandes etapas:
</p>

<div class="card tabs">
  <b class="hidden-desktop">Arraste para o lado</b>
  <form class="tabs--controller">
    <div>
      <input type="radio" name="tabset" id="tab1" value="preProject" checked />
      <label for="tab1">
        <img
          src="/image/icons/double_diamond-empty.svg"
          class="icon"
          alt="ícone representando o double diamond vazio"
        />
        Pré Projeto
      </label>
    </div>

    <div>
      <input type="radio" name="tabset" id="tab2" value="discovery" />
      <label for="tab2">
        <img
          src="/image/icons/double_diamond-1.svg"
          class="icon"
          alt="ícone representando o double diamond com destaque para a primeira etapa"
        />
        Discovery
      </label>
    </div>

    <div>
      <input type="radio" name="tabset" id="tab3" value="explore" />
      <label for="tab3">
        <img
          src="/image/icons/double_diamond-2.svg"
          class="icon"
          alt="ícone representando o double diamond com destaque para a segunda etapa"
        />
        Explore
      </label>
    </div>

    <div>
      <input type="radio" name="tabset" id="tab4" value="develop" />
      <label for="tab4">
        <img
          src="/image/icons/double_diamond-3.svg"
          class="icon"
          alt="ícone representando o double diamond com destaque para a terceira etapa"
        />
        Develop
      </label>
    </div>

    <div>
      <input type="radio" name="tabset" id="tab5" value="deliver" />
      <label for="tab5">
        <img
          src="/image/icons/double_diamond-4.svg"
          class="icon"
          alt="ícone representando o double diamond com destaque para a última etapa"
        />
        Deliver
      </label>
    </div>

    <div>
      <input type="radio" name="tabset" id="tab6" value="evolution" />
      <label for="tab6">
        <img
          src="/image/icons/double_diamond-full.svg"
          class="icon"
          alt="ícone representando o double diamond cheio"
        />
        Evolução contínua
      </label>
    </div>
  </form>

  <div class="tabs--panels">
    <div id="preProject" class="tabs--panel">
      <img
        alt="ilustração lúdica representando o double diamond"
        src="/image/illustration/pre-project.svg"
      />
      <h3 class="header__big">O começo</h3>
      <p>
        Conhecer o projeto e os seus objetivos. As principais perguntas a
        responder: Quem está envolvido, o que já se sabe, quais os desafios já
        mapeados? Tecnologias disponíveis? Quem é o responsável por aceites?
        Para quem e por qual motivo o projeto será executado?
      </p>

      <h4>Entregáveis</h4>
      <ul>
        <li>O Documento de briefing alinhado;</li>
        <li>Um cronograma de projeto.</li>
      </ul>

      <p>
        <a
          href="/artigos/redesenhando-um-site-e-blog-para-vender-mais-e-demonstrar-melhor-o-portfolio-de-produto/#Os%20principais%20desafios%20do%20projeto"
          >Nesse artigo</a
        >
        apresento o briefing de um dos projetos que executei.
      </p>
    </div>

    <div id="discovery" class="tabs--panel">
      <img
        alt="ilustração lúdica representando o double diamond"
        src="/image/illustration/discovery.svg"
      />
      <h3 class="header__big">Diminuindo incertezas</h3>
      <p>
        A hora de expandir o conhecimento, entender mais a fundo quem vai usar,
        quais os problemas que existem hoje, como concorrentes, similares e
        outros produtos resolvem esses problemas. O momento de entender o
        histórico, e também para onde o produto vai com o tempo.
      </p>

      <h4>Entregáveis</h4>
      <p>
        Dependem muito do tamanho do processo, das dúvidas e do escopo, podem
        ser alguns desses, todos, ou ainda algo diferente:
      </p>
      <ul>
        <li>Personas;</li>
        <li>Service Blueprint;</li>
        <li>Relatórios de entrevistas;</li>
        <li>Análise de similares e concorrentes;</li>
        <li>Infográficos da jornada;</li>
        <li>Análise da stack e serviços atuais;</li>
        <li>Mapa de empatia;</li>
        <li>POCs - Proofs on Concept...</li>
      </ul>

      <p>
        As anotações do projeto
        <a
          href="/artigos/um-site-de-evento-baseado-em-dados-e-com-foco-em-conversao/#Análise%20de%20similares"
          >RD On The Road</a
        >
        tem alguns exemplos dos entregáveis da etapa de discovery desse projeto.
      </p>
    </div>

    <div id="explore" class="tabs--panel">
      <img
        alt="ilustração lúdica representando o double diamond"
        src="/image/illustration/explore.svg"
      />
      <h3 class="header__big">Experimentando caminhos</h3>
      <p>
        Transformando ideias em propostas, afunilando o conhecimento e
        destilando jornadas.
      </p>
      <h4>Entregáveis</h4>
      <ul>
        <li>Mapa de jornadas;</li>
        <li>Schemas de dados;</li>
        <li>User maps;</li>
        <li>Wireframes e protótipos;</li>
        <li>Preparação de ambientes;</li>
        <li>Backlog de design e desenvolvimento;</li>
        <li>Definição de estilos / design system;</li>
        <li>Testes de usabilidade.</li>
      </ul>

      <p>
        O <a href="/projeto/gerencia-leite/">Gerencia leite</a> é um projeto em
        que tive total controle sobre todos os aspectos do projeto e
        entregáveis.
      </p>
    </div>

    <div id="develop" class="tabs--panel">
      <img
        alt="ilustração lúdica representando o double diamond"
        src="/image/illustration/develop.svg"
      />
      <h3 class="header__big">Mãos na massa</h3>
      <p>
        Com o caminho desenhado, ambientes preparados stack escolhidas e
        jornadas testadas, está na hora de começar a montar a primeira versão do
        produto.
      </p>
      <h4>Entregáveis</h4>
      <ul>
        <li>Execução do backlog;</li>
        <li>Conteúdo no ambiente de testes / homolação.</li>
      </ul>
      <p>
        O
        <a
          href="/artigos/redesenhando-um-site-e-blog-para-vender-mais-e-demonstrar-melhor-o-portfolio-de-produto/#Como%20o%20projeto%20foi%20planejado?"
          >site institucional da mobLee</a
        >, construído junto com um novo blog, é um exemplo de um projeto com um
        backlog complexo entregue em pouco tempo.
      </p>
    </div>

    <div id="deliver" class="tabs--panel">
      <img
        alt="ilustração lúdica representando o double diamond"
        src="/image/illustration/deliver.svg"
      />
      <h3 class="header__big">Voilà!</h3>
      <p>
        A primeira versão, está no ar! Esta é a hora de lançamento 🍾 e começar
        a medir 📐 para melhorar.
      </p>
      <h4>Entregáveis</h4>
      <ul>
        <li>Migrações de dados de produção (quando existir);</li>
        <li>Ajustes finais de Web Analytics;</li>
        <li>Configuração de domínio;</li>
        <li>Entrega em ambiente de produção.</li>
      </ul>
    </div>

    <div id="evolution" class="tabs--panel">
      <img
        alt="ilustração lúdica representando o double diamond"
        src="/image/illustration/evolution.svg"
      />
      <h3 class="header__big">Projetos digitais nunca acabam</h3>
      <p>
        A principal vantagem de um projeto digital é que mesmo depois de
        lançado, ele pode ser atualizado e melhorado sem recalls. Está na hora
        de acompanhar, pegar feedback com quem usa, ver os dados sendo gerados
        e, sempre que possível, melhorar a experiência de quem usa.
      </p>
      <h4>Entregáveis</h4>
      <p>
        O ciclo pode recomeçar para alguma feature ou um novo produto, ou pode
        ser incrementado aos poucos, o céu é o limite! Está na hora de
        acompanhar e melhorar, e
        <a href="https://endeavor.org.br/estrategia-e-gestao/pdca/"
          >um ciclo de PDCA</a
        >
        pode ser exatamente o que se precisa nesse momento.
      </p>
      <ul>
        <li>Planejar;</li>
        <li>Fazer;</li>
        <li>Acompanhar (checar);</li>
        <li>Agir.</li>
      </ul>
    </div>
  </div>
</div>
<script src="/js/tab.js"></script>
