<p>
  <a
    href="https://www.designcouncil.org.uk/our-work/news-opinion/double-diamond-universally-accepted-depiction-design-process/"
    target="_blank"
    >O Double Diamond</a
  >, criado pelo British Design Council é uma das principais formas - e minha
  favorita - de abstrair e tangibilizar o processo de design e inovação em
  grandes etapas:
</p>

<custom-card>
  <b class="hidden-desktop">Arraste para o lado</b>
  <custom-tab
    name="tabset"
  >
    <custom-radio-button
      slot="tab"
      identifier="tab1"
      value="preProject"
      form="tabset"
      icon="double_diamond-empty"
      alt="o double diamond vazio"
      checked="true"
    >
      Pré Projeto
    </custom-radio-button>
    <custom-radio-button
      slot="tab"
      identifier="tab2"
      value="discovery"
      form="tabset"
      icon="double_diamond-1"
      alt="o double diamond com destaque para a primeira etapa"
    >
      Discovery
    </custom-radio-button>
    <custom-radio-button
      slot="tab"
      identifier="tab3"
      value="explore"
      form="tabset"
      icon="double_diamond-2"
      alt="o double diamond com destaque para a segunda etapa"
    >
      Explore
    </custom-radio-button>
    <custom-radio-button
      slot="tab"
      identifier="tab4"
      value="develop"
      form="tabset"
      icon="double_diamond-3"
      alt="o double diamond com destaque para a terceira etapa"
    >
      Develop
    </custom-radio-button>
    <custom-radio-button
      slot="tab"
      identifier="tab5"
      value="deliver"
      form="tabset"
      icon="double_diamond-4"
      alt="o double diamond com destaque para a última etapa"
    >
      Deliver
    </custom-radio-button>
    <custom-radio-button
      slot="tab"
      identifier="tab6"
      value="evolution"
      form="tabset"
      icon="double_diamond-full"
      alt="o double diamond cheio"
    >
      Evolução contínua
    </custom-radio-button>

    <custom-tab-content identificator="preProject" title="O começo">
      <div slot="image" class="image">
        {% image "./client/assets/image/illustration/pre-project.svg", "ilustração lúdica representando o double diamond", null %}
      </div>
      <p>
        Conhecer o projeto e os seus objetivos. As principais perguntas a
        responder: Quem está envolvido, o que já se sabe, quais os desafios já
        mapeados? Tecnologias disponíveis? Quem é o responsável por aceites?
        Para quem e por qual motivo o projeto será executado?
      </p>

      <h4>Entregáveis</h4>
      <ul>
        <li>O Documento de briefing alinhado;</li>
        <li>Um cronograma de projeto.</li>
      </ul>

      <p>
        <a
          href="/artigos/redesenhando-um-site-e-blog-para-vender-mais-e-demonstrar-melhor-o-portfolio-de-produto/#Os%20principais%20desafios%20do%20projeto"
          >Nesse artigo</a
        >
        apresento o briefing de um dos projetos que executei.
      </p>
    </custom-tab-content>
    <custom-tab-content identificator="discovery" title="Diminuindo incertezas">
      <div slot="image" class="image">
        {% image "./client/assets/image/illustration/discovery.svg", "ilustraçãolúdica representando o double diamond", null %}
      </div>
      <p>
        A hora de expandir o conhecimento, entender mais a fundo quem vai usar,
        quais os problemas que existem hoje, como concorrentes, similares e
        outros produtos resolvem esses problemas. O momento de entender o
        histórico, e também para onde o produto vai com o tempo.
      </p>

      <h4>Entregáveis</h4>
      <p>
        Dependem muito do tamanho do processo, das dúvidas e do escopo, podem
        ser alguns desses, todos, ou ainda algo diferente:
      </p>
      <ul>
        <li>Personas;</li>
        <li>Service Blueprint;</li>
        <li>Relatórios de entrevistas;</li>
        <li>Análise de similares e concorrentes;</li>
        <li>Infográficos da jornada;</li>
        <li>Análise da stack e serviços atuais;</li>
        <li>Mapa de empatia;</li>
        <li>POCs - Proofs on Concept...</li>
      </ul>

      <p>
        As anotações do projeto
        <a
          href="/artigos/um-site-de-evento-baseado-em-dados-e-com-foco-em-conversao/#Análise%20de%20similares"
          >RD On The Road</a
        >
        tem alguns exemplos dos entregáveis da etapa de discovery desse projeto.
      </p>
    </custom-tab-content>
    <custom-tab-content identificator="explore" title="Experimentando caminhos">
      <div slot="image" class="image">
        {% image "./client/assets/image/illustration/explore.svg", "ilustração lúdica representando o double diamond", null %}
      </div>
      <p>
        Transformando ideias em propostas, afunilando o conhecimento e
        destilando jornadas.
      </p>
      <h4>Entregáveis</h4>
      <ul>
        <li>Mapa de jornadas;</li>
        <li>Schemas de dados;</li>
        <li>User maps;</li>
        <li>Wireframes e protótipos;</li>
        <li>Preparação de ambientes;</li>
        <li>Backlog de design e desenvolvimento;</li>
        <li>Definição de estilos / design system;</li>
        <li>Testes de usabilidade.</li>
      </ul>

      <p>
        O <a href="/projeto/gerencia-leite/">Gerencia leite</a> é um projeto em
        que tive total controle sobre todos os aspectos do projeto e
        entregáveis.
      </p>
    </custom-tab-content>
    <custom-tab-content identificator="develop" title="Mãos na massa">
      <div slot="image" class="image">
        {% image "./client/assets/image/illustration/develop.svg", "ilustração lúdica representando o double diamond", null %}
      </div>
      <p>
        Com o caminho desenhado, ambientes preparados stack escolhidas e
        jornadas testadas, está na hora de começar a montar a primeira versão do
        produto.
      </p>
      <h4>Entregáveis</h4>
      <ul>
        <li>Execução do backlog;</li>
        <li>Conteúdo no ambiente de testes / homolação.</li>
      </ul>
      <p>
        O
        <a
          href="/artigos/redesenhando-um-site-e-blog-para-vender-mais-e-demonstrar-melhor-o-portfolio-de-produto/#Como%20o%20projeto%20foi%20planejado?"
          >site institucional da mobLee</a
        >, construído junto com um novo blog, é um exemplo de um projeto com um
        backlog complexo entregue em pouco tempo.
      </p>
    </custom-tab-content>
    <custom-tab-content identificator="deliver" title="Voilà!">
      <div slot="image" class="image">
        {% image "./client/assets/image/illustration/deliver.svg", "ilustração lúdica representando o double diamond", null %}
      </div>
      <p>
        A primeira versão, está no ar! Esta é a hora de lançamento 🍾 e começar
        a medir 📐 para melhorar.
      </p>
      <h4>Entregáveis</h4>
      <ul>
        <li>Migrações de dados de produção (quando existir);</li>
        <li>Ajustes finais de Web Analytics;</li>
        <li>Configuração de domínio;</li>
        <li>Entrega em ambiente de produção.</li>
      </ul>
    </custom-tab-content>
    <custom-tab-content
      identificator="evolution"
      title="Projetos digitais nunca acabam"
    >
      <div slot="image" class="image">
        {% image "./client/assets/image/illustration/evolution.svg", "ilustração lúdica representando o double diamond", null %}
      </div>
      <p>
        A principal vantagem de um projeto digital é que mesmo depois de
        lançado, ele pode ser atualizado e melhorado sem recalls. Está na hora
        de acompanhar, pegar feedback com quem usa, ver os dados sendo gerados
        e, sempre que possível, melhorar a experiência de quem usa.
      </p>
      <h4>Entregáveis</h4>
      <p>
        O ciclo pode recomeçar para alguma feature ou um novo produto, ou pode
        ser incrementado aos poucos, o céu é o limite! Está na hora de
        acompanhar e melhorar, e
        <a href="https://endeavor.org.br/estrategia-e-gestao/pdca/"
          >um ciclo de PDCA</a
        >
        pode ser exatamente o que se precisa nesse momento.
      </p>
      <ul>
        <li>Planejar;</li>
        <li>Fazer;</li>
        <li>Acompanhar (checar);</li>
        <li>Agir.</li>
      </ul>
    </custom-tab-content>
  </custom-tab>
</custom-card>
