---
title: Projeto
layout: header.html
tags:
 - design
 - desenvolvimento
---

{% include "atoms/nudge.html" %}
<main>
  <header class="container header--case">
    <section class="container--smallest">
      <h1>Título do projeto</h1>
      <h2 class="subtitle">Subtitulo com algum sumario / explicacao</h2>
      {% for tag in tags %} 
        {% include "atoms/tag.html" %} 
      {% endfor %}
      <p>
        Bacon ipsum dolor amet pancetta andouille meatball boudin picanha salami
        shank meatloaf turducken capicola turkey ribeye chicken. Shankle ball
        tip biltong, andouille beef bacon flank.
      </p>
      <a>Link do Github</a>
      <a>Link do projeto</a>
      <p>Continuar <a href="#challenges" class="animateUpAndDown">▼</a></p>
    </section>
    <div class="header__image-container">
      <img src="/image/blog/rd-on-the-road-cover.jpeg" alt="Imagem de capa do projeto">
    </div>
  </header>

  <section class="container container--small">
    <h3 class="header__big" id="challenges">Desafios</h3>
    <p>
      Bacon ipsum dolor amet pancetta andouille meatball boudin picanha salami
      shank meatloaf turducken capicola turkey ribeye chicken. Shankle ball tip
      biltong, andouille beef bacon flank. Meatball hamburger porchetta pork
      venison bresaola spare ribs picanha prosciutto. Rump pork loin sausage
      cupim kevin, ham short loin swine tenderloin doner pancetta kielbasa
      venison meatloaf pork. Flank drumstick kielbasa jerky, brisket pork chop
      pork loin t-bone fatback rump ground round turkey picanha tri-tip
      porchetta.
    </p>
  </section>

  <section class="hero"></section>

  <section class="container container--small">
    <h3 class="header__big">Como foi resolvido</h3>
    <p>
      Bacon ipsum dolor amet pancetta andouille meatball boudin picanha salami
      shank meatloaf turducken capicola turkey ribeye chicken. Shankle ball tip
      biltong, andouille beef bacon flank. Meatball hamburger porchetta pork
      venison bresaola spare ribs picanha prosciutto. Rump pork loin sausage
      cupim kevin, ham short loin swine tenderloin doner pancetta kielbasa
      venison meatloaf pork. Flank drumstick kielbasa jerky, brisket pork chop
      pork loin t-bone fatback rump ground round turkey picanha tri-tip
      porchetta.
    </p>
    <h3 class="header__big">Aprendizados</h3>
    <p>
      Bacon ipsum dolor amet pancetta andouille meatball boudin picanha salami
      shank meatloaf turducken capicola turkey ribeye chicken. Shankle ball tip
      biltong, andouille beef bacon flank. Meatball hamburger porchetta pork
      venison bresaola spare ribs picanha prosciutto. Rump pork loin sausage
      cupim kevin, ham short loin swine tenderloin doner pancetta kielbasa
      venison meatloaf pork. Flank drumstick kielbasa jerky, brisket pork chop
      pork loin t-bone fatback rump ground round turkey picanha tri-tip
      porchetta.
    </p>
  </section>

  <section class="container">
    <h2>Galeria</h2>

    <h2>Artigos relacionados</h2>
  </section>
</main>

{% include "organisms/footer.html" %}
