{% assign slugified = project.data.title | slugify %}
<artcile class="carousel__cell card card--with-image">
  <div class="container--smallest">
    <h3 class="header__big">{{project.data.title}}</h3>
    <h4>{{project.data.subtitle}}</h4>
    <p><a href="/projeto/{{ slugified }}">Ver mais detalhes</a></p>

    {% if project.data.production %}
      <custom-anchor-with-icon 
        href={{ project.data.production }} 
        icon="external-link"
        alt="âncora externa"
      >
        Acessar em produção
      </custom-anchor-with-icon>
    {% endif %}

    {% if project.data.repo %}
      <custom-anchor-with-icon 
        href={{ project.data.repo }} 
        icon="repo"
        alt="repositório"
      >
        Visitar repositório
      </custom-anchor-with-icon>
    {% endif %}
  </div>
  <!-- Defines filePath -->
  {% assign fileName = slugified | append:"-cover.jpg"  %}
  {% assign filePath = "./client/assets/image/project/" | append: fileName %}

  <!-- Defines alt -->
  {% assign alt = "Foto de capa do " | append: project.data.title %}

  <!-- Create image -->
  {% image filePath, alt, null %}
</artcile>
