.molding {
  background: var(--color-blue-50);
  background-image: url("/image/pattern/wave.svg");
  margin: var(--base-size);
  margin-bottom: 0;
  padding: 1rem;
  min-height: calc(100vh - 5rem);
  box-sizing: border-box;
  display: flex;
  align-content: center;
  justify-content: center;
}

.molding .container {
  padding: 2rem;
  -webkit-backdrop-filter: blur(calc(0.2 * var(--base-size)));
  backdrop-filter: blur(calc(0.2 * var(--base-size)));
  border-radius: 1.5rem;
  box-sizing: initial;
}

.molding .container h1 {
  margin-top: 0;
}

@media (max-width: 1300px) {
  .molding {
    background-image: initial;
    min-height: calc(100vh - 2.5rem);
    min-height: calc(100svh - 2.5rem);
    border-radius: 6rem 1rem;
    background: linear-gradient(
      45deg,
      var(--color-blue-40),
      var(--color-blue-50) 40%
    );
  }
  
  .molding .container {
    -webkit-backdrop-filter: initial;
    backdrop-filter: initial;
    padding: 1rem;
  }
}