<style>
  {% include 'organisms/molding/molding.css' %}
</style>

<header class="molding">
  <article class="container container--smallest">
    <h1>
      Olá! Sou o Rodrigo T. Knolseisen <span class="animateWave">👋</span>
    </h1>
    <p>
      Desenvolvedor e designer. Faço sites e carne de panela, também projeto apps e toco um pouco de música 🎸.
    </p>
    <p>
      Desça a página para descobrir mais.
      <a class="animateUpAndDown" href="#projects">▼</a>
    </p>
  </article>
</header>
