---
layout: header.html
permalink: "projeto/{{ title | slugify }}/"
---

<custom-nudge>⏎ Voltar para o início</custom-nudge>

<main>
  <header class="container header--case">
    <section class="container--smallest">
      <h1>{{title}}</h1>
      <h2 class="subtitle">{{subtitle}}</h2>
      <style>
        {% include "atoms/tag/tag-container.css" %}
      </style>
      <div class="tag--container">
        {% for tag in tags %}
          <custom-tag type="{{tag | slugify}}">{{tag}}</custom-tag>
        {% endfor %}
      </div>
      <p>{{excerpt}}</p>
      {% if production %}
        <custom-anchor-with-icon 
          href={{ production }} 
          icon="external-link"
          alt="âncora externa"
        >
          Acessar em produção
        </custom-anchor-with-icon>
      {% endif %}

      {% if repo %}
        <custom-anchor-with-icon 
          href={{ repo }} 
          icon="repo"
          alt="repositório"
        >
          Visitar repositório
        </custom-anchor-with-icon>
      {% endif %}
      
      <p>Continuar <a href="#challenges" class="animateUpAndDown">▼</a></p>
    </section>
    <div class="header__image-container">
      <!-- Defines filePath -->
      {% assign slugified = title | slugify %}
      {% assign fileName = slugified | append:"-cover.jpg"  %}
      {% assign filePath = "./client/assets/image/project/" | append: fileName %}

      <!-- Defines alt -->
      {% assign alt = "Foto de capa do " | append: title %}

      <!-- Create image -->
      {% image filePath, alt, null %}
    </div>
  </header>

  <section class="container container--small">
    <h2 
      class="header__big" 
      id="challenges"
    >
      Desafios
    </h2>
    <p>{{challenges}}</p>
  </section>

  <section 
    class="hero" 
    style="--hero: url('https://rodrigoknol.com/image/project/{{title | slugify}}-gallery.jpg')">
  </section>

  <section class="container container--small">
    {{content}}
  </section>
</main>

{% include "organisms/footer/footer.html" %}