---
layout: header.html
permalink: "projeto/{{ title | slugify }}/"
---

{% include "atoms/nudge.html" %}
<main>
  <header class="container header--case">
    <section class="container--smallest">
      <h1>{{title}}</h1>
      <h2 class="subtitle">{{subtitle}}</h2>
      <div class="tag--container">
        {% for tag in tags %} 
          {% include "atoms/tag.html" %} 
        {% endfor %}
      </div>
      <p>{{excerpt}}</p>
      {% include "molecules/anchor-production.html" %} 
      {% include "molecules/anchor-repo.html" %} 
      <p>Continuar <a href="#challenges" class="animateUpAndDown">▼</a></p>
    </section>
    <div class="header__image-container">
      <!-- Defines filePath -->
      {% assign slugified = title | slugify %}
      {% assign fileName = slugified | append:"-cover.jpg"  %}
      {% assign filePath = "./client/assets/image/project/" | append: fileName %}

      <!-- Defines alt -->
      {% assign alt = "Foto de capa do " | append: title %}

      <!-- Create image -->
      {% image filePath, alt, null %}
    </div>
  </header>

  <section class="container container--small">
    <h2 class="header__big" id="challenges">Desafios</h2>
    <p>{{challenges}}</p>
  </section>

  <section class="hero" style="--hero: url('https://rodrigoknol.com/image/project/{{title | slugify}}-gallery.jpg')"></section>

  <section class="container container--small">
    {{content}}
  </section>

  <!-- <section class="container">
    <h2>Artigos relacionados</h2>
  </section> -->
</main>

{% include "organisms/footer.html" %}
