<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Rodrigo Thaler Knolseisen" />
    <meta name="application-name" content="Rodrigo T Knol" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/typography.css?ver=1.0" />
    <link rel="stylesheet" href="/css/style.css?ver=1.0" />
    <link rel="stylesheet" href="/css/colors.css?ver=1.0" />
    <link rel="stylesheet" href="/css/animation.css?ver=1.0" />

    <!-- Title -->
    <title>{{title}}</title>
  </head>
  <body>
    {{content}}
  </body>
  <link rel="stylesheet" href="/css/imports.css?ver=1.0" />
</html>
