.blog {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
}

.blog > *:first-child {
  flex: 1;
  position: sticky;
  top: 0;
}

.chart__bar {
  display: block;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  border-radius: 3rem;
  background-color: var(--color-yellow-30);
  width: var(--size);
  box-sizing: border-box;
}