.header--case {
  margin-bottom: 5rem;
  min-height: 100vh;
}

.header__image-container {
  background: var(--color-yellow-40);
  position: absolute;
  right: 0;
  top: 25vh;
  height: 65vh;
  width: 55vw;
  z-index: -1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header__image-container picture {
  width: 90%;
  height: 100%;
  margin-bottom: -4rem;
}

.header__image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top left;
}

.hero {
  background: var(--hero) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  margin: 5rem 0;
  box-shadow: inset 0.3rem 0.3rem 1.5rem 1px var(--color-base-20);
}

.icon {
  height: 0.9rem;
  width: initial;
}

@media (max-width: 1300px) {
  .header--case {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: initial;
    min-height: initial;
  }

  .header__image-container {
    position: relative;
    height: initial;
    width: initial;
    z-index: initial;
    margin: initial;
    margin-top: 2rem;
    display: block;
    top: initial;
    background-color: initial;
  }

  .header__image-container img,
  .header__image-container picture {
    width: 100%;
    height: initial;
    margin: initial;
  }

  .hero {
    height: 75vh;
  }
}

@supports (-webkit-touch-callout: none) {
  .hero {
    background-attachment: initial;
  }
}
