.carousel__image picture > * {
  object-fit: cover;
  object-position: top left;
  min-width: 1px;
  height: 60vh;
  max-height: 40rem;
}

.image,
.image picture,
.image img {
  margin-top: 3rem;
  height: 5rem;
  width: 10rem;
  object-fit: contain;
  object-position: left center;
}

@media (max-width: 1300px) {
  .carousel__image picture {
    display: none;
  }
}
